---
---
<section id="experiencia">
    <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
      <div
        class="[&>p]:mb-4 [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
      >
        <p>
          Soy Diseñadora Gráfica y Community Manager con más de 5 años de experiencia en el rubro. Hace dos años, descubrí mi pasión por la programación <strong
            >y desde entonces me he dedicado a aprender y crecer como desarrolladora.</strong
          >
        </p>
    
        <p>
          Mi objetivo principal <strong
            >es impactar el mundo a través de mis diseños y proyectos,</strong
          >dejando una huella imborrable en cada experiencia de usuario que creo.
        </p>
    
        <p>
          Me encanta aprender y perfeccionar mis habilidades, <strong
            >Siento una gran fascinación por el código</strong
          >  y el impacto transformador que unas líneas de código pueden tener.
        </p>
      </div>
    
      
    
    </article>
    
    