---
const personalImageAlt = "Antonella Arin"
import Badge from "../Badge.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import MailIcon from "../icons/Mail.astro"
import SocialPill from "./SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/public/me1.png"
      alt={personalImageAlt}
    />
    <a
      href="https://drive.google.com/file/d/1UqpmDPRlRi4p68ZvyYHzcWGhe6QORYTK/view?usp=sharing"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Anto, Full Stack Developer
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-pink-500 [&>strong]:text-pink-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Especializada en diseño FrontEnd. <strong
      >& creacion de material visual</strong
    > de Cordoba, Argentina. Especializado en el diseño y desarrollo de aplicaciones web
    únicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="antonellaarin97@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/antonella-arin/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
